html {
    font-size: 16px;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.container {
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0;
}

.add-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    min-width: 0;
}

button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, opacity 0.2s;
}

    button i {
        font-size: 22px;
    }

    button:hover {
        transform: scale(1.08);
        opacity: 0.9;
    }

#add-button {
    background-color: #4caf50;
    color: white;
}

#remove-button {
    background-color: #f44336;
    color: white;
}

#edit-button {
    background-color: #ff9800;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0f0f0;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

    .item:hover {
        background-color: #e5e5e5;
    }

    .item.selected {
        background-color: #cce5ff;
        border-left: 5px solid #007bff;
    }

        .item.selected:hover {
            background-color: #cce5ff;
        }


.checkbox {
    width: 18px;
    height: 18px;
    flex: none;
    cursor: pointer;
}

.product-name {
    flex: 1;
}

.bought {
    text-decoration: line-through;
    color: gray;
}
.fa-solid {
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 900 !important;
    display: inline-block;
}
